.profile {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 882px;
  display: grid;
  grid-template-columns: 120px 3fr 150px;
  grid-template-areas: "avatar info options";
  column-gap: 30px;
}

@media screen and (max-width: 896px) {
  .profile {
    grid-template-columns: 100%;
    grid-template-rows: 1fr;
    grid-template-areas:
      "avatar"
      "info"
      "options";
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
