.popup__content_type_form {
  width: 358px;
  height: auto;
  background-color: white;
  border-radius: 10px;
  padding: 36px;
}

@media screen and (max-width: 490px) {
  .popup__content_type_form {
    padding: 22px;
    max-width: 238px;
  }
}
